<app-modal *ngIf="confirmation.status"
(onCancel)="modalCancel()"
(onConfirm)="modalConfirm()"
           [content]="modal_message"
></app-modal>

<div class="container" (click)="cancel($event)">

  <app-note *ngFor="let note of notes; index as position"
  [usednote]="note"
  [usedposition]="position"
            (onDelete)="deleteNote($event)"
            (onEdit)="editNote($event)"
  ></app-note>

</div>


<div>
  <label>
    <span> Title </span>
    <input type="text" [(ngModel)]="current_note._title"(keydown)="submit($event)"/>
  </label>
  <label>
    <span> Content </span>
    <input type="text" [(ngModel)]="current_note._content" (keydown)="submit($event)"/>
  </label>

  <button (click)="actionNote()">{{ mode() }}</button>
</div>
